p, h4, h5{
    font-size: 1vw;
    font-family: "Californian FB", sans-serif;
}

h1, h2{
    font-size: 3vw;
    font-family: Gabriola, sans-serif;
}
table {
    border-collapse: collapse;
}
table, th, td{
    border: 0.1vw solid navy;
}
a{
    font-size: 2vw;
    text-decoration: none;
}
ul {
    list-style-type: square;
}
